header {
    color: white;
    box-shadow: 0 0 5px 0 black;
    position: relative;
  }
  .top-t {
    background-color: #127f6f;
    padding: 0.5rem 0 0.5rem 0.2rem;
    display: flex;
    justify-content: space-between;
  }
  .top-t ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  .top-t ul li {
    padding: 0 0.5rem;
  }
  .top-t a {
    text-decoration: none;
    color: white;
  }
  .top-t ul li i:hover {
    color: black;
  }
  .top {
    background-color: #f4f4f4;
    padding: 0.5rem 0 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    align-items: center;
    color: black;
    margin-left: 2rem;
  }
  .header-right {
    padding-top: 2.5rem;
  }
  .header-right ul {
    display: flex;
  }
  .header-right ul li {
    list-style-type: none;
    margin-right: 3rem;
    font-size: 1.1rem;
  }
  .header-right ul li:hover {
    cursor: pointer;
  }
  .header-right ul li a {
    text-decoration: none;
    color: black;
  }
  #get {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    padding: 0;
    margin-top: 0.1rem;
    top: 6.8rem;
  }
  #get li {
    margin: 0;
    padding: 1rem 2.4rem 1rem 1rem;
  }
  #get li:hover {
    background-color: #127f6f;
  }
  #get li:hover a {
    color: white;
  }
  footer {
    background-color: #f4f4f4;
    width: 100%;
    padding: 1.5rem 0 0.5rem 0;
    text-align: center; 
    line-height: 2rem;
}
.footer-bottom {
    display: inline-block;
    margin: 0.5rem auto;
}
.footer-bottom ul {
    display: flex;
}
.footer-bottom ul li {
    list-style-type: none;
    margin: 0 0.5rem;
}
.footer-bottom ul li a {
    text-decoration: none;
    color: black;
}
.footer-bottom ul li a i:hover {
    color:#127f6f ;
}
/*kullanici.php css kodu*/
.top-t-right {
    margin-right: 1rem;
    position: relative;
}
.top-t-right i {
    cursor: pointer;
}
.oturum {
    display: none;
    position:absolute;
    right: 0;
    width: 140px;
    color: black;
    background-color: #f4f4f4;
    padding: 0.5rem;
}
.oturum ul a {
    color: black;
}
.oturum:hover {
    background-color:#127f6f  ;
 
}
.oturum ul a:hover {
    color: white;
} 

.kcontainer {
     width: 100%;
     padding: 1rem 1rem 1rem 0;
     display: flex;
}
.leftside{
    width: 20%;
    font-size: 16px;
}
.leftside li {
    list-style-type: none;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem 0 1rem 2rem;
    cursor: pointer;
}
.rightside {
     width: 80%;
     border-left: 1px solid black;
     padding: 0 1rem 0.5rem 1rem;
}
.arsivlerim {
    display: none;
    width: 100%;
}
.items{
    width: 100%;
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
}
.item {
    padding: 1rem;
    background-color: #f4f4f4;
    width: 31%;
    border-radius: 5px;
    font-size: 17px;
    color: black;
    line-height: 1.7rem;
    margin:1rem;
}
.item form {
    display: inline-block;
    margin-top: 0.5rem;
}
.item img {
    border-radius: 5px;
    margin: 0.5rem 0;
}
.item-content {
    margin-bottom:0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item-content:hover{
  white-space:normal;
}

.arsivolustur {
    display: none;
    width: 100%;
}

/*arsiv-icerik.php css kodu*/
.kcontainer2 {
   width: 80%;
   margin: 0 auto;
   padding: 1rem;
   text-align: justify;
   
}
.kcontainer2  p{
    font-size: 17px;
    margin-top: 0.3rem;
}
.yorumyap {
   display: none;
   border: 1px solid black;
   text-align: left;
   margin: 1rem 0;
   border-radius: 10px;
   padding: 1rem;
}
.yorumlar {

    border: 1px solid black;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 1rem;
}
.yorumlar p {
    text-align: justify;
}

.yorumyap2 {
  display: none;
  border: 1px solid black;
  text-align: left;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 1rem;
}

/*anonim-arsivler css kodu*/
.kcontainer3 {
  width: 100%;
  padding: 1rem;
}
.kcontainer3 .items .item {

     width: 23.2%;
}
.kcontainer4 {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;

}
/* kullanıcı php kişisel arşiv kısmı css kodu */
.kisiselarsiv{
    width: 100%;
    font-size: 20px;
    display: none;
}
.kisiseldosyalar{
    display: flex;
    padding-top: 1rem;
    flex-wrap: wrap;
}
.dosya{
    width: 24%;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #127f6f;
    font-size: 17px;
    color: white;
    line-height: 1.5rem;
    margin: 0.5rem 0 0 0.5rem;  
}
.kbtn {
  background-color: #f4f4f4;
  color: black;
  margin-top:0.5rem;

}


/*anasayfa.php css kodu*/
.kcontainer5 {
  width: 80%;
  margin: 1rem auto;
  display: flex;
}
.icerik{
  margin: auto 0;
}
.icerik p {
text-align: justify; line-height: 1.5rem;
}
.kcontainer6{
  width: 70%;
  margin: 1rem auto;
}
.kategori {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.kategori-item {
   background-color:#127f6f ;
   width: 20%;
   text-align: center;
   padding:1rem 0;
   border-radius: 5px;
   color: white;
}
.kategori-item img {
  border-radius: 100%;
  margin-bottom: 10px;
}
.kategori-item p i {
  color: white;
  font-size: 20px;
}
.kategori i {
  margin: auto 0;
  font-size: 30px;
  cursor: pointer;
  color: #127f6f;
}

.kcontainer7 {
  width: 100%;
  background-color:#127f6f ;
  padding: 0.5rem 0 2rem 0;
  color: white;
  margin-top: 3rem;

}
.kcontainer7 .items {
 width: 80%;
 margin: 0 auto;
}

/*k-hakkimizda.php css kodu*/
.kcontainer8 {
  width: 80%;
  margin: 2rem auto;
  text-align: justify;
  line-height: 1.5rem;
}
.kcontainer8 ul {
   margin: 1rem 0 0 1.2rem;
}

/*k-iletisim.php css kodu*/
.kcontainer9 {
  width: 80%;
  margin: 2rem auto;
}
.kcontainer9 p {
   color: gray;
}
/*k-arsiv.php css kodu*/
.kcontainer10 {
  width: 80%;
  margin: 2rem auto;
  text-align: justify;
}
.kcontainer10 ul {
  list-style-type: none;
  margin: 0.5rem 0;
}
